/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html, body {

    min-width: 320px;


}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    


}

.container {

    display: flex;

}

.side-bar {

    background-color: rgb(45, 84, 189);
    height: 100vh;
    width: 21vw;
    min-width: 200px;
    display: grid;


}

.side-bar p {

    color: white;
    font-size: 16px;
    
}
.title {

    margin-top: 10px;
    height: 48px;
    align-items: center;



}

.top-links {

    display: flex;
    flex-direction: column;

}

.link, .title {

    display: flex;
    margin-left: 10px;
    align-items: center;

}

.link {

    margin-top: 25px;

}

.link p {

    font-size: 18px;
    margin-left: 15px;

}

.icon {

    display: flex;
    justify-content: center;

}

.icon img, .input {

    height: 20px;    

}

.bottom-links {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.dashboard {

    width: 79vw;
    background-color: rgb(226, 226, 226);

}

.header-container {

    box-shadow: 0px 5px 5px rgba(0,0,0,.3);    
    background-color: white;

}

.top-header {

    display: flex;
    justify-content: space-between;


}

.search {

    display: flex;
    margin-left: 15px;
    gap: 15px;
    align-items: center;

}

.profile-pic img {

    height: 50px;

}

.input {

    border-radius: 15px;
    background-color: rgb(174, 208, 236);
    width: 35vw;
    padding: 8px 15px;
    min-width: 10vw;
    border: none;
    
}

input:focus {
    outline: none /* Removes the border when the input is clicked */
}

.right-menu {

    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 15px;
    margin-left: 15px;

}

.bottom-header{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.greetings {

    display: flex;
    gap: 15px;
    margin-left: 15px;

}

.greet-pic img{

    height: 80px;

}

.right-buttons {

    display: flex;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
    width: 30vw;

}

.right-buttons button {

    background-color: aqua;
    border-radius: 15px;
    border: none;
    height: 35px;
    width: 70px;

}

button:hover {

    cursor: pointer;

}

.board-container {

    height: 65vh;
    width: 79vw;
    display: flex;
    margin-top: 15px;

    justify-content: space-between;

}

.projects {

    width: 50vw;

}

.card {


    padding: 15px;

}



.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements {

   width: 25vw;     

}


